/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo-vendido{
  position: relative;
}
.titulo-vendido:after{
  content: "";
  width: 50px;
  height: 3px;
  background: gray;
  position: absolute;
  bottom: -3px;
  left: 0px;
}
